@use 'stars'as *;
@use 'media';

$media-width-both :150px;
$small-width-both :140px;
$extra-small-width-both :130px;
$super-small-width-both :100px;
@mixin layout {
    .page {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 'left right';
        gap: 0px;

        @include media.small {
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 'left''right';
        }

        // div{
        //     border: 1px solid red;
        // }

        #left,
        #right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            .bg-effect {
                position: absolute;
                left: 0;
                top: 0;
                @include stars;
            }
        }

        #left {
            grid-area: left;
            background: radial-gradient(ellipse at bottom, #321b35 0%, #0f090f 100%);

            .ver {
                a {
                    color: rgba($color: #d758db, $alpha: 1.0);
                }
            }

            .photo {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
                @include media.small{
                    display: none;
                }
                img {
                    position: relative;
                    left: 0px;
                    bottom: -5px;
                    height: 120px;
                    @include media.medium{
                        height: 130px;
                    }
                }

            }

        }

        #right {
            grid-area: right;
            background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

            .ver {
                a {
                    color: rgba($color: #538fd3, $alpha: 1.0);
                }
            }

            .photo {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 5;

                img {
                    position: relative;
                    right: -5px;
                    bottom: -10px;
                    height: 170px;
                    @include media.medium{
                        height: $media-width-both;
                    }
                    @include media.small{
                        height: $small-width-both;
                    }
                    @include media.extra-small{
                        height: $extra-small-width-both;
                    }
                    @include media.super-small{
                        height: $super-small-width-both;
                    }
                }

            }

            .photo-ale {
                position: absolute;
                display: none;
                bottom: 0;
                right: 0;
                z-index: 5;
                @include media.small{
                    display: inline;
                }
                img {
                    position: relative;
                    right: -20px;
                    bottom: -10px;
                    @include media.medium{
                        height: $media-width-both*0.7;
                    }
                    @include media.small{
                        height: $small-width-both*0.7;
                        right: -10px;
                    }
                    @include media.extra-small{
                        height: $extra-small-width-both*0.7;
                    }
                    @include media.super-small{
                        height: $super-small-width-both*0.7;
                    }

                }
            }


        }


    }
}