// weather-card = wcard
@use 'keyframes';
@use 'media';

$card-width : 500px;
// $card-height: 200px;
$card-height:auto;
$bar-height: 30px;
$card-border-radius: 20px;
$inside-card-border-radius: 10px;

@mixin wcard {

    .weather-card {
        z-index: 1;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-bottom-left-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
        width: $card-width;
        height: $card-height;
        background-color: rgba($color: #ffffff, $alpha: .9);
        box-shadow: 0 2px 20px rgba($color: #ffffff, $alpha: .54);
        display: none;

        @include media.large {
            width: calc($card-width/1.3);
        }

        @include media.medium {
            width: calc($card-width/1.55);
        }

        @include media.small {
            height: 120px;
        }

        @include media.extra-small {
            width: calc($card-width/1.8);
        }

        @include media.super-small {
            width: calc($card-width/2.2);
        }

        // div {
        //     border: 1px solid red;
        // }

        .bar {
            z-index: 2;
            position: absolute;
            right: 0;
            cursor: pointer;
            width: 100%;
            height: $bar-height;
            top: -$bar-height;
            background: rgba(54, 54, 54, .9);
            border-top-left-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include media.small {
                height: calc($bar-height/1.5);
                top: calc(-1*$bar-height/1.5);
            }

            .close {
                margin-right: calc($card-border-radius/2);




                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    width: 1em;
                    height: 1em;
                    font-size: .6em;
                    padding: 1em;
                    box-shadow: 0px 0px 2px rgba($color: #ffffff, $alpha: .5);
                    background-color: rgba($color: #ffffff, $alpha: .9);
                    color: #000000;
                    transition: background-color .1s ease;

                    @include media.small {
                        font-size: .4em;
                    }
                }

                i:hover {
                    background-color: rgba($color: #ffffff, $alpha: .2);
                    color: #ffffff;
                }
            }

        }

        .weather-card-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .slider {
                z-index: 1;
                position: relative;
                padding: 0.1em .5em;
                box-shadow: 0 2px 10px rgba($color: #000000, $alpha: .4);
                background-color: #ffffff;
                border-radius: $inside-card-border-radius;
                max-width: calc($card-width/1.5);
                margin: 20px auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @include media.large {
                    max-width: calc($card-width/1.8);
                }

                @include media.medium {
                    max-width: calc($card-width/2);
                }

                @include media.small {
                    height: 90px;
                    margin: 0;
                }

                @include media.extra-small {
                    max-width: calc($card-width/2.4);
                }

                @include media.super-small {
                    max-width: calc($card-width/3.2);
                }

                .slider-items {
                    overflow: hidden;

                    .item {
                        display: none;
                        font-size: 2em;
                        text-align: center;
                        animation: zoom .5s ease;

                        @include media.large {
                            font-size: 1.8em;
                        }

                        @include media.medium {
                            font-size: 1.3em;
                        }

                        @include media.small {
                            font-size: 1.1em;
                        }

                        @include media.super-small {
                            font-size: .9em;
                        }

                        @include keyframes.zoom {
                            0% {
                                transform: scale(.5);
                                opacity: 0;
                            }

                            100% {
                                transform: scale(1);
                                opacity: 1;
                            }
                        }

                        span {
                            font-size: .7em;
                        }
                    }

                }
            }

            .left-slide,
            .right-slide {
                position: absolute;
                height: 30px;
                width: 30px;
                background: rgba(54, 54, 54, 1);
                box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: .4);
                border-radius: 50%;
                color: #ffffff;
                font-size: 14px;
                top: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                cursor: pointer;
                transition: background-color .1s ease;

                @include media.medium {
                    height: 20px;
                    width: 20px;
                    font-size: 12px;
                }
            }

            .left-slide {
                left: 10px;
            }

            .right-slide {
                right: 10px;
            }

            .left-slide:hover,
            .right-slide:hover {
                background: rgba(54, 54, 54, .7);
            }

        }

    }

    #left {
        .weather-card-content {

            .slider {
                // border: 10px solid #ffffff;

                // .slider-bg{
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     width: 100%;
                //     height: 100%;
                //     background:#363636;
                //     box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .5);
                //     z-index: -1;
                //     clip-path: polygon(10% 0, 0 0, 0 20%);
                //     cursor: pointer;
                // }
                .item {
                    .magnitude {
                        color: #000000;
                    }

                    .caption {
                        color: #000000;
                    }

                }

                .active-left {
                    display: block;
                }
            }

        }


    }

    #right {
        .weather-card-content {

            .slider {
                // border: 10px solid #ffffff;

                // .slider-bg{
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     width: 100%;
                //     height: 100%;
                //     background:#363636;
                //     box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .5);
                //     z-index: -1;
                //     clip-path: polygon(10% 0, 0 0, 0 20%);
                //     cursor: pointer;
                // }
                .item {
                    .magnitude {
                        color: #000000;
                    }

                    .caption {
                        color: #000000;
                    }

                }

                .active-right {
                    display: block;
                }
            }

        }


    }

}