
@use 'card' as *;
@use 'layout' as *;
@use 'wcard' as *;
@use 'media';
@use 'modal-song' as *;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hachi Maru Pop', cursive;
}

html,
body {
    height: 100%;
}

.hide{
    display: none !important;
}


@include layout;
@include card;
@include wcard;
@include wcard;
